#footer {
    background: black;
    color: #919496;
    height: 138px;
}


.h2-footer {
    text-align: center;
    padding-top: 44px;
    margin-bottom: 20px;
}

.icons-about {
    text-align: center;
    font-size: 22px;
}