@media screen and (max-width:480px){
    
    
    .input1{
        width: 370px;
        margin-left: 4px;
    }


    .dZutFH{
        display: block;
    }

    .dZutFH div{
        margin-bottom: 14px;
    }


    .h2-22-2-2-2{
        font-size: 22px;
        margin-left: 30px;
    }

    .container-2{
        height: 861px;
    }


    aside{
        margin-bottom: 103px;
        margin-top: -118px;
        margin-left: -133px;
    }


   
    .img-responsive{
        margin-left: -98px;
        animation: none;
    }

    main{
        padding-top: 180px;
        margin-left: 52px;
        display: block;
    }


   
    .formulario{
        width: 20px;
    }



   

    form{
        width: 287px;
        margin-left: 10px;
    }
   
    
    .container-3{
         display: none;
    }

   

    textarea{
        width: 369px;
        margin-left: -1px;
    }

    .btn-2{
        margin-left: -186px;
    }


    .card-content-1{
        display: block;
        margin-left: 60px;
    }
    
    .card-content-2{
        display: block;
        margin-left: 77px;
        margin-bottom: 73px;
    }

    .h2-22{
        padding-top: 138px;
        margin-left: 162px;
        text-align: center;
        width: 129px;
        font-size: 25px;
    }

    .container-10{
        height: 98vh;
    }


   


    .card-content-1-1{
        display: block;
        margin-top: -82px;
        margin-bottom: -114px;
        margin-left: -25px;
    }

    .h2-22-2{
        margin-left: 128px;
        width: 223px;
        font-size: 25px;
    }

    .h2-22-2-2{
        font-size: 25px;
    margin-top: -40px;
    margin-left: 101px;
    }


    .card-content-2-{
        margin-bottom: 147px;
    }

    .container-14{
        height: 2126px;
    }


    nav{
        display: block;
    }
    
    

    .card{
        margin-bottom: -41px;
    }


  

  
    
    li{
        display: block;
        margin-top: 5px;
    }

   


  }
