.container {
    background: black;
    margin-top: -15px;
    margin-left: -24px;
    height: 111px;
    position: fixed;
    width: 253vh;
    z-index: 10;
}


nav {
    display: flex;
    justify-content: space-around;
    padding: 0 6rem;
    margin-top: 45px;
}

a {
    text-decoration: none;
    color: white;
}

.span-home {
    color: hsl(var(--hue-color), 70%, 60%);
}

li {
    display: inline-block;
    margin: 13px;
    font-size: 20px;
}




.menu {
    margin-top: -10px;
}