:root {
    --header-height: 3.5rem;
    --hue-color: 240;
    --first-color: hsl(var(--hue-color), 70%, 60%);
    --fisrt-color-second: hsl(var(--hue-color), 1%, 6%);
    --first-color-alt: hsl(var(--hue-color), 50%, 50%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 100%);
    --title-color-gradient: linear-gradient(to left, #03001e, #9307f1, #7109e7 , #1100ff );
    --subtitle-section-gradient: linear-gradient(to left, #ffffff, #00ffdd, #fa0404);
    --text-color: hsl(var(--hue-color), 8%, 85%);
    --text-color-lighter: hsl(var(--hue-color), 20%, 70%);
    --text-color-button: hsl(var(--hue-color), 0%, 0%);
    --contact-color-button: hsl(var(--hue-color), 0%, 15%);
    --input-color: hsl(var(--hue-color), 8%, 5%);
    --input-color-selection: hsl(var(--hue-color), 20%, 25%);
    --body-color: hsl(var(--hue-color), 10%, 8%);
    --header-color: hsl(var(--hue-color), 10%, 8%);
    --container-color: hsl(257, 10%, 5%);
    --qualification-bar-color: hsl(var(--hue-color), 92%, 85%);
    --qualification-color: hsl(var(--hue-color), 100%, 50%);
    --scroll-thumb-color: hsl(var(--hue-color), 68%, 50%);
    --scroll-bar-color: hsl(var(--hue-color), 10%, 15%);
    --body-font: 'Poppins', sans-serif;
    --font-medium: 500;
    --font-semi-bold: 600;
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    --big-font-size: 2.3rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.3rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --primary: #FFCE00;
    --secondary: #FE4880;
    --dark: #212121;
    --light: #F3F3F3;
}