.h2-22-2-2-2 {
    text-align: center;
    color: white;
    padding-top: 69px;
    font-size: 30px;
}

.dZutFH {
    display: grid;
    grid-template: auto auto / auto auto auto auto;
    gap: 20px;
    margin-top: -106px;
}

.dZutFH div {
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    gap: 20px;
    width: 170px;
    background-color: black;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    height: 48px;
}


.dZutFH div img {
    width: 35px;
}


.dZutFH {
    display: grid;
    grid-template: auto auto / auto auto auto auto;
    gap: 20px;
    margin-top: -106px;
}


.fVBOxb {
    margin: 150px auto 0px;
    max-width: 765px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap: 20px;
}


.dZutFH div:hover {
    text-decoration: none;
    transform: scale(1.05) translateY(-5px);
    box-shadow: rgb(244 245 245) 0px 0px 5px 1px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
}

.container-10 {
    background-color: hsl(var(--hue-color), 10%, 8%);
    height: 64vh;
}